<launch>
  <!-- Argument to choose between Python and C++ version -->
  <arg name="use_python" default="false"/>

  <!-- Launch the Python version if use_python is true -->
  <node if="$(arg use_python)" name="main_battery_bms" pkg="bms" type="freya_bms.py" output="screen"/>

  <!-- Launch the C++ version if use_python is false -->
  <node unless="$(arg use_python)" name="main_battery_bms" pkg="bms" type="freya_bms_node" output="screen"/>
</launch>
