[Unit]
Description=launch recording of data
After=network.target

[Service]
ExecStart= python3 /home/vortex/rose_test_ws/src/vortex-asv/mission/blackbox/record_data.py
RemainAfterExit=yes
WorkingDirectory=/home/vortex/rose_test_ws
StandardOutput=journal+console


Environment="HOME=root"
Environment="ROS_DOMAIN_ID=1"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="_colcon_cd_root=/top/ros/rolling/"

User=vortex

Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target

--------------------------------------------------------------------------------------------

[Unit]
Description=launch recording of data
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/vortex/rose_test_ws/src/vortex-asv/mission/blackbox/record_data.py
RemainAfterExit=yes
WorkingDirectory=/home/vortex/rose_test_ws
StandardOutput=journal+console


Environment="HOME=root"
Environment="ROS_DOMAIN_ID=1"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="_colcon_cd_root=/top/ros/rolling/"

User=vortex

Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target

---------------------------------------------------------------------------------------------

[Unit]
Description=launch recording of data
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/vortex/david_test_ws/install/setup.bash; python3 record_data.py'
RemainAfterExit=yes
WorkingDirectory=/home/vortex/rose_test_ws
StandardOutput=journal+console


Environment="HOME=root"
Environment="ROS_DOMAIN_ID=1"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="_colcon_cd_root=/top/ros/rolling/"

User=vortex

Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target

---------------------------------------------------------------------------------------------

[Unit]
Description=launch ros2 bms node
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash; source /usr/share/colcon_cd/function/colcon_cd.sh colcon build; source /home/vortex/david_test_ws/install/setup.bash; ros2 launch bms bms_launch.py; sleep 60'
RemainAfterExit=yes
WorkingDirectory=/home/vortex/david_test_ws
StandardOutput=journal+console


Environment="HOME=root"
Environment="ROS_DOMAIN_ID=1"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="_colcon_cd_root=/top/ros/rolling/"

User=vortex

Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target
---------------------------------------------------------------------------------------------

[Unit]
Description=My Custom Service
After=network.target

[Service]
ExecStart=/path/to/your/executable
Restart=always

[Install]
WantedBy=default.target











-------------------------------------------------------

[Unit]
Description=launch recording of data
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/vortex/rose_test_ws/install/setup.bash; python3 /home/vortex/rose_test_ws/src/vortex-asv/mission/blackbox/record_data.py'
RemainAfterExit=yes
WorkingDirectory=/home/vortex/rose_test_ws
StandardOutput=journal+console


Environment="HOME=root"
Environment="ROS_DOMAIN_ID=1"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="_colcon_cd_root=/top/ros/rolling/"

User=vortex

Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target
