[Unit]
Description=Launch internal status node
After=network.target

[Service]
# Use the wrapper script for ExecStart
ExecStart=/bin/bash /home/vortex/rose_test_ws/src/vortex-asv/mission/internal_status/startup_scripts/internal_status.sh
WorkingDirectory=/home/vortex/
StandardOutput=journal+console
User=vortex
Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target