[Unit]
Description=Launch internal status node
After=network.target

[Service]
# Use the wrapper script for ExecStart
ExecStart=/bin/bash <home directory>/<username>/<workspace>/src/vortex-asv/mission/blackbox/startup_scripts/blackbox.sh
WorkingDirectory=/home/vortex/
StandardOutput=journal+console
User=vortex
Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target