<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

    <!-- INPUT ARGS -->
    <arg name="type" default="real"/> <!-- real | simulator -->

    <!-- PARAMETERS -->
    <rosparam command="load" file="$(find asv_setup)/config/environments/trondheim_freshwater.yaml"/>
    <rosparam command="load" file="$(find asv_setup)/config/params/gnc.yaml"/>
    <rosparam command="load" file="$(find asv_setup)/config/robots/temp_config.yaml"/>
    <rosparam command="load" file="$(find asv_setup)/config/topics.yaml"/>


    <!-- Sensors -->
    <!-- TODO: Seapath interface launch -->


    <!-- Mission -->
    <node pkg="finite_state_machine" type="lqr_box_test.py" name="lqr_box_test" output="screen"/>


    <!-- Motion -->
    <node pkg="lqr_controller" type="lqr_controller_node.py" name="lqr_controller_node" output="screen" />

    <node pkg="thruster_allocator"  type="thruster_allocator_node" name="allocator"  output="screen"/>

    <node pkg="thruster_interface"  type="thruster_interface_node" name="thruster_interface_node"  output="screen"/>

    <!-- Navigation -->
    <node pkg="lqr_path_following" type="lqr_path_following_node.py" name="lqr_path_following" output="screen" />

</launch>