<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <rosparam command="load" file="$(find pca9685_ros_driver)/params/pca_params.yaml"/>
  <node pkg="pca9685_ros_driver" type="pca9685_ros_node.py" name="pca9685_ros_driver" output="screen" />

  <rosparam command="load" file="$(find asv_setup)/config/robots/naglfar.yaml"/>

  <node pkg="thruster_interface"  type="thruster_interface_node" name="thruster_interface_node"  output="screen"/>
</launch>

