<?xml version="1.0"?>
<launch>

    <!-- Namespace arguments -->
    <arg name="ns_guidance"    default="guidance"/>
    <arg name="ns_controller"    default="controllers"/>
    <arg name="ns_thrust"    default="thrust"/>

    <!-- Guidance nodes -->
    <group ns="$(arg ns_guidance)">
        <node pkg="los_guidance"    type="los_guidance_node.py" name="los" output="screen"/>
        <node pkg="joystick_guidance"  type="joystick_guidance.py"    name="joystick"     output="screen"/>
    </group>

    <!-- controller nodes -->
    <group ns="$(arg ns_controller)">
        <node pkg="los_controller"  type="los_controller_node.py"   name="los"   output="screen"/>
        <node pkg="dp_controller" type="dp_controller_node" name="dp_controller" output="screen"/>
        >
    </group>

    <group ns="$(arg ns_thrust)">
        <node pkg="thruster_allocator" type="thruster_allocator_node" name="allocator" output="screen"/>
    </group>

</launch>
