<launch>
  <!-- Run the control simulator -->
  <node pkg="control_simulator" type="simulator.py" name="simulator" output="screen" />

  <!-- Run the LQR controller node -->
  <node pkg="lqr_controller" type="lqr_controller_node.py" name="lqr_controller_node" output="screen" />

  <!-- Run the LQR guidance node -->
  <node pkg="lqr_path_following" type="lqr_path_following_node.py" name="lqr_path_following" output="screen" />
</launch>
